<div>
    <nav class="nav_class">
        <ul>
            <li><a href="/admin/cargas">Cargas de Datos</a></li>
            <li><a href="/admin/consultas">Consultas</a></li>
        </ul>
    </nav>

    <div>
        <h1>Instructivo:</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore nam impedit natus architecto consequatur illum maiores optio? Possimus iste labore obcaecati porro et numquam nemo, incidunt, quas, nulla consequuntur hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ut unde mollitia doloremque at rem ad dolorem. Delectus iste possimus odit ullam qui cum rem mollitia. Necessitatibus cumque quisquam totam?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore nam impedit natus architecto consequatur illum maiores optio? Possimus iste labore obcaecati porro et numquam nemo, incidunt, quas, nulla consequuntur hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ut unde mollitia doloremque at rem ad dolorem. Delectus iste possimus odit ullam qui cum rem mollitia. Necessitatibus cumque quisquam totam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore nam impedit natus architecto consequatur illum maiores optio? Possimus iste labore obcaecati porro et numquam nemo, incidunt, quas, nulla consequuntur hic.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ut unde mollitia doloremque at rem ad dolorem. Delectus iste possimus odit ullam qui cum rem mollitia. Necessitatibus cumque quisquam totam?</p>

    </div>
</div>