<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Gyro</title>
</head>
<body class="main">
    <header class="header">
        <img src="/images/logo.png" width="300" alt="logo"></img>
    </header>

    {{{body}}}

    <footer>
            <div class="footer">
    <p class="footer_text">
      2022 Gyro, All Rights Reserved.
    </p>

  </div>
    </footer>
</body>
</html>