<div class="container">
   <form action="/admin/login" method="post"> 
        <div class="main">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="usuario" required>
 
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
 
            <button type="submit">Login</button>
        </div>

        {{#if error}}
        <p>Usuario o clave incorrectos</p>
        {{/if}}
 
        </div>
    </form>
    </div>
    