<div>
    <nav class="nav_class">
        <ul>
            <li><a href="/admin/cargar_empleado" class="active">Cargar empleado</a></li>
            <li><a href="/admin/ediciones_sueldos">Ediciones</a></li>
            <li><a href="/admin/home">Volver atrás</a></li>
        </ul>
    </nav>

    {{#if carga}}
    <h2>{{message}}</h2>
    {{/if}}

    <form class="formulario_carga" action="/admin/cargar_empleado" method="post">
        <div class="div_carga">
            <label>Nombre:</label>
            <input type="text" placeholder="Ingrese nombre" name="nombre">
        </div>

        <div class="div_carga">
            <label>Apellido:</label>
            <input type="text" placeholder="Ingrese apellido" name="apellido">
        </div>

        <div class="div_carga">
            <label>DNI:</label>
            <input type="text" placeholder="Ingrese DNI" name="dni">
        </div>

        <div class="div_carga">
            <label>Domicilio:</label>
            <input type="text" placeholder="Ingrese domicilio" name="domicilio">
        </div>

        <div class="div_carga">
            <label>Telefono:</label>
            <input type="text" placeholder="Ingrese telefono" name="telefono">
        </div>

        <div class="div_carga">
            <label>E-mail:</label>
            <input type="text" placeholder="Ingrese E-mail" name="email">
        </div>

        <div class="div_carga">
            <label>Puesto:</label>
            <input type="text" placeholder="Ingrese puesto" name="puesto">
        </div>

        <div class="div_carga">
            <label>Sueldo:</label>
            <input type="text" placeholder="Ingrese sueldo" name="sueldo">
        </div>

        <div>

            <input type="submit" value="Cargar empleado" class="cargar_submit">

    </form>


    {{#if error}}
    <h5>{{message}}</h5>
    {{/if}}


</div>