<div class="container">
      <nav class="navbar">
          <div class="brand-title"><a href="/admin/login/logout">Cerrar sesion</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
        <li><a href="/admin/ediciones_sueldos">Ediciones</a></li>
        <li><a href="/admin/cargar_empleado">Cargar empleado</a></li>
        <li><a href="/admin/cargas" id="active">Cargas de datos</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>
  <div class="main">
  <h1>
    INSTRUCTIVO
  </h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi
    saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum
    beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas,
    dolore.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi
    saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum
    beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas,
    dolore.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi
    saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum
    beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas,
    dolore.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi
    saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum
    beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas,
    dolore.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi
    saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum
    beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas,
    dolore.
  </p>
    </div>
</div>