<div>
    <nav class="nav_class">
        <ul>
            <li><a href="/admin/cargar_empleado">Cargar empleado</a></li>
            <li><a href="/admin/asistencias">Asistencias y presentismos</a></li>
            <li><a href="/admin/editar_empleado">Editar empleado</a></li>
            <li><a href="/admin/home">Volver atrás</a></li>
        </ul>
    </nav>
<h1>
    INSTRUCTIVO
</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas, dolore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas, dolore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas, dolore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas, dolore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sequi saepe, dolores repellendus eum atque. Animi amet tenetur vero, ullam eum beatae tempore corporis ipsam voluptatum, laudantium nobis? Voluptas, dolore.
</p>

</div>