@media only screen and (max-width: 480px) {
  .header img {
    width: 100%;
  }
}

.header{
  background:black;
  text-align: center;
}

.footer{
display: flex; 
padding-top: 1.5rem; 
flex-direction: column; 
justify-content: space-between; 
align-items: center; 
width: 100%; 
border-top: 1px solid gray;
}

.footer_text{
  font-weight: 400; 
  text-align: center; 
  font-size: 18px;
  
}

/*assign full width inputs*/

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*set a style for the buttons*/

button {
  background-color: #f5b43c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/*centre the display image inside the container*/

.container {
  padding: 16px;
}
/*set the forgot password text*/

span.psw {
  float: right;
  padding-top: 16px;
}
/*set styles for span and cancel button on small screens*/

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

.nav_class{
  margin-bottom: 5px;
}
.nav_class ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5b43c;
  top: 0;
  width: 100%;
}

.nav_class li {
  float: left;
}

.nav_class li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_class li a:hover:not(.active) {
  background-color: #7e3000;
}

.active{
  background-color: #7e3000
}

.formulario_carga{
text-align: center ;
align-items: center;
}

.formulario_carga input{
  align-items: center;
  max-width: 740px;
  margin-bottom: 15px;
}

.formulario_carga label{
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

.cargar_submit{  
  background-color: #f5b43c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cargar_submit:hover{
  background-color: #7e3000;
}
