<div class="container">
      <nav class="navbar">
        <div class="brand-title">Gyro</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
            <li><a href="/admin/consultas/nomina_empleados">Nomina de empleados</a></li>
            <li><a href="/admin/consultas/nomina_mensual">Nomina mensual de sueldos</a></li>
            <li><a href="/admin/consultas/detalle">Detalle de empleado</a></li>
        <li><a href="/admin/consultas" id="active" >Consultas</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>
    <div class="main">
    <h1>Descripcion de cada opcion + Instructivo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    </div>
</div>