<div class="container">
      <nav class="navbar">
        <div class="brand-title">Gyro</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
            <li><a href="/admin/consultas/nomina_empleados">Nomina de empleados</a></li>
            <li><a href="/admin/consultas/nomina_mensual">Nomina mensual de sueldos</a></li>
            <li><a href="/admin/consultas/detalle" id="active">Detalle de empleado</a></li>
        <li><a href="/admin/consultas" >Consultas</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>
    <div class="main">
        <form class="formulario_carga" method="post" action="/admin/consultas/detalle/individual">
            <div class="div_carga">
                <label>ID:</label>
                <input type="text" placeholder="Ingrese id del empleado a buscar" name="id">
            </div>
            <input type="submit" value="Buscar" class="cargar_submit" />
    </div>
    </form>
</div>
</div>  