<div>
    <nav class="nav_class">
        <ul>
            <li><a href="/admin/nomina">Nomina de empleados</a></li>
            <li><a href="/admin/nomina_mensual" class="active">Nomina mensual de sueldos</a></li>
            <li><a href="/admin/detalle">Detalle de empleado</a></li>
            <li><a href="/admin/cobros">Cobro mensual individual</a></li>
            <li><a href="/admin/home">Volver atras</a></li>
        </ul>
    </nav>

    <h1>Descripcion de cada opcion + Instructivo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error autem dicta doloremque quos id totam fugiat illo officiis nisi a illum accusamus, et asperiores, sapiente sit iste voluptatum provident.</p>
</div>